@page "/login"

@using CleanUI.Services
@using CleanUI.Models

@inject AuthService authService

<h3>Login</h3>

<input @bind="model.Email" placeholder="Email" />
<input @bind="model.Password" placeholder="Password" type="password" />
<button @onclick="LoginUser">Login</button>

<p>@message</p>

@code {
    LoginModel model = new();   
    string message;      

    async Task LoginUser()  
    {
        message = await authService.Login(model);
        Navigation.NavigateTo("/counter", true); // force reload
    }
}


@* @code {
    string email = "";
    string password = "";
    string message = "";

    async Task LoginUser()
    {
        var response = await Http.PostAsJsonAsync("api/Auth/login", new { Email = email, Password = password });
        message = await response.Content.ReadAsStringAsync();
    }
} *@