@page "/register"

@using CleanUI.Services
@using CleanUI.Models

@inject AuthService authService

<h3>Register</h3>

<input @bind="model.Email" placeholder="Email" />
<input @bind="model.Password" placeholder="Password" type="password" />
<button @onclick="RegisterUser">Register</button>

<p>@message</p>

@code {

    RegisterModel model = new();
    string message;
       
    async Task RegisterUser()
    {
        message = await authService.Register(model);
    }


}

@* @code {
    string email = "";
    string password = "";
    string message = "";

    async Task RegisterUser()
    {
        var response = await Http.PostAsJsonAsync("api/Auth/register", new { Email = email, Password = password });
        message = await response.Content.ReadAsStringAsync();
    }
}
 *@